language: bash
sudo: required
dist: trusty
services:
- docker
git:
  depth: 1
  submodules: false
branches:
  only:
  - main
cache:
  directories:
    - node_modules
env:
  global:
  - PATH=$HOME/.local/bin:$PATH
  - AWS_REGION=us-west-2
  - CI=true
  - secure: "bSJguc1/OMzqoYKd4jRmeiQ9EPgK+8rvgRbLRUCmO3Pn86BTgsmW/x/f7TyrD8skTMEKFjK5O+Z/UJMS24EsijTIHUZgVUBhKEISqdbkP1L0DLxEOIBKsRMcKi4PRQ3bohoYsOSwwM8nKjyfbcYQ+yFIVb8AWmfJUq9OYWxQy5+JLwkY/SBUwUx5favNxUGegXqTbz0l7+v/Xx2TfpsbpoodK0V+YHdmic+2YHNVvwEaP+2+eso9NOKZMF83pkbbk4TUqf+imbNpKpHbQBGM4jRDYiQI0ayo66Lk41gouNhzbYw8WgIICdzKfNKhpZSlBdY+oHU/9LW2cHNeYQwtbclSrUY9gyCODwzwWw6QrL9l94YABgpzydWWQvVL5XBVv6SwWaVXOKEDUMlvkcOY/b28eB/AcfXNH5Zc+IjubhrTsE9Ju4fhBwSpdEh+WbIvaSTsbqiP4Rsrrcjc432lbFQuA69d/Pzvex72VeQn7yOt356BJTrA+S6YeBTud+9dJL3diW0lNbU04tZSdBgfISsM2CMI/h7cGDbh9btZbNcm3oY6k7F0uSw634Smz0zpcG7ZGqCYTFED2xhHUdPl0mRAmVSMjd4tQmxjBK1+sRMUIu8VNrWN9dUY9NwnjJoLWB5j4/QprzvoEVekPVhowf1e1o3EoMjccbzpNPEZOvM="
  secure: "Fmocm1Nt+OfM2Lpe2+SJ1SXBFMNrjGR8aRoGs6Khfj1AgmzZt2Ydb9e3WfZ2xOX3Mb6uzwy32+9mjqXJlgF2Ujm5bXAL4IgRqeg63a3sxo+1QbJ5KnwlKwZGpKhNFBLerhFYDxdJgIEw1YE9m/afUM18PuOsE8HllC7rAGiXkgKunJMkywx84jDZpWcKsIJHrjw4Cv5R/CxQJmMfN5OvyLvvWOcQawIWf+k3N5yq1nvNHWfWP4Yx7i1ZxAdz1SZ2dD80KmMKppW+ZFiEADQxkeKaN2nfdXmRDgaZ6DcYx41An0DkV2ep3fRwTNYefIXcfvB60Rj5Q4Rh+OX94NH8g0iE911XOP5lMn25JGXAWQdvQhmT34U8PT9s9ESb2xhFnz4pkID2VYAgaFS9XXqP3zKPUXPDyWkbvhrKSD7S1v2DYMsvIHcBnzE7WckowGTzd5V7DpSoyJe/z7oAP9pxwKT6vq+DOy5YD0rKA0t1aN4vzJ+i0EJGVinwc8vQ+0yF1EekB3CVogyAqwV7iY8SYNFV1nFMTfPg5Pn9xTlXLO3+4AmtpBvjVBg2EJ3V5aHpz3ypmB/46uuWXdu7yP40CbUkiazbViqkt8Ejm6NGSFKLpq6WCQlcnky3BR5qfHGeHn44zt77PBQE4LWK7bZkhfukP6EJqLkP9JKuQsmYgXo="
before_install:
- pip install --user awscli
install:
- docker run -e CI=true -i -t -v ${PWD}/:/app/ --workdir /app/ node:14-stretch npm install
before_script:
- docker run -e CI=true -i -t -v ${PWD}/:/app/ --workdir /app/ node:14-stretch npm test -- --coverage
script:
- docker run -e CI=true -i -t -v ${PWD}/:/app/ --workdir /app/ node:14-stretch npm run-script build
after_script:
- echo "After Script..."
before_cache:
- echo "Before Cache..."
after_success:
- echo "After Success..."
after_failure:
- echo "After Failure..."
before_deploy:
- echo "Before Deploy..."
deploy:
  provider: script
  script: aws s3 sync --delete --exclude '.git/*' ${PWD}/build/ s3://portfolio.joshbacon.name/
  on:
    branch: main
  skip_cleanup: true
after_deploy:
- aws cloudfront create-invalidation --distribution-id="E2DH15J9LGHZU1" --paths='/*'
