name: pr

on:
  pull_request:
    branches: ["main"]
    paths-ignore:
      - '**/README.md'
      - '**/CRA_README.md'
      - '.vscode/**'
      - '.husky/**'
      - '**/LICENSE'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [23.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        uses: ./.github/actions/build
        with:
          node-version: ${{ matrix.node-version }}
